@charset "UTF-8";




* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}

html,body {
  background-color: green;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
background-image: url(../img/fundo04.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    
}

#foto {
  
    background-image: url(../img/foto02.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

section#login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:80vw;
  height: 70vh;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-radius: 20px;

}



div#formu{
  background-image: url(../img/fundo01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 280px;
}
div#formu > h1{
  
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 10px ;
  font-size: 30px;
  text-shadow: 0px 0px 17px rgb(79 0 233);

}
div#formu >p {
  color: rgb(255, 255, 255);
  text-align:center;
  font-size: 12px;
  margin-bottom: 20px;
}

div.campo {
  text-align: center;
  margin-bottom: 20px;
  
}
div >span {
  color: aliceblue;
}

div.bt {
  text-align: center;
 
}
div.bt>input{
  border-radius: 5%;
width: 90%;
padding: 10px; 
color: white;
background-color: rgb(51, 0, 99);


}

div.bt>input:hover{
  transition-duration: 0.5s;
  color: black;
  background-color: rgb(122, 0, 236);
}

div.es{
  padding: 10px;
  margin-top: 20px;
text-align: center;
}

div.es> a{
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color:  rgb(58, 45, 70);
  padding: 10px;
  box-shadow: 1px 1px 1px black;
}
