@charset "UTF-8";




* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}

html,body {
  background-color: green;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
background-image: linear-gradient(to top, rgb(48, 12, 12), rgb(0, 0, 0));
  
    
}

#foto {
    background-image: url(../img/foto02.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

section#login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 500px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-radius: 20px;

}



div#formu{
  background-image: url(../img/fundo01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 130px;
}
div#formu > h1{
  color: rgb(85, 0, 0);
  text-align: center;
  margin-bottom: 10px ;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.596);

}
div#formu >p {
  color: rgb(119, 49, 49);
  text-align:center;
  
}